<div class="frame frame_scroller" name="scroller" ng-style="{height: 40 + 'px'}">
  <div class="birthdays col-md-12" ng-show="currentScroller == 0">
    <div class="col-md-4" style="text-align: center;">
      <h4 style="color: #E08E79;" >
        <i class="fa fa-birthday-cake fa-6" aria-hidden="true" ></i> Cumpleaños:</h4>
    </div>
    <div class="col-md-8">
      <h4 class="birthday" ng-if="birthday" >
        Hoy es el cumpleaños de {{ birthday }}. Celebremos! &#127874;
      </h4>
      <h4 class="birthday" ng-if="birthday==''">
        Hoy no hay cumpleaños DCCianos, pero celebremos igual! Ven a la Salita &#128513;
      </h4>
    </div>
  </div>
  <div class="facebook col-md-12" ng-show="currentScroller == 1">
    <div class="col-md-4" style="text-align: center;">
      <h4 style="color: rgb(59, 89, 152);">
        <i class="fa fa-facebook-square" aria-hidden="true"></i> CaDCCFCFM:</h4>
    </div>
    <div class="col-md-8">
      <h4>Esto es un Scroller de Facebook</h4>
    </div>
  </div>
  <div id="twitter" class="twitter col-md-12" ng-show="currentScroller == 2">
    <div class="col-md-4" style="text-align: center;">
      <h4 style="color: rgb(85, 172, 238);">
      <i class="fa fa-twitter" aria-hidden="true"></i> CaDCC: </h4>
    </div>
    <div class="col-md-8">
      <h4>Esto es un scroller de Twitter</h4>
    </div>
  </div>
  <div class="news col-md-12" ng-show="currentScroller == 3">
    <div class="col-md-4" style="text-align: center;">
      <h4 style="color: #f26522;">
        <i class="fa fa-rss" aria-hidden="true"></i> Últimas Noticias: </h4>
    </div>
    <div class="col-md-8">
      <h4>Esto es un scroller de Noticias</h4>
    </div>
  </div>
  <br>
  <hr>
  </div>